* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.login-logo {
    max-height: 60px;
}


.auth-container {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 95%;
    min-height: 600px;
}

/*contenedores de los formularios*/

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all .6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* LOGIN */
.sign-in-container {
    left: 0;
    z-index: 2;
}

/* REGISTRO */
.sign-up-container {
    left: 0;
    opacity: 0;
    z-index: 1;
}


.auth-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.auth-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}



.sign-in-container form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-container form input {
    width: 100%;
    background: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 10px;
    height: 45px;
    padding: 12px 15px;
    margin: 10px 0;
    transition: .3s ease;
}

.sign-in-container form input:focus {
    border: 2px solid #FDB318;
    outline: none;
}

.login-btn {
    height: 42px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background: #FDB318;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}

.login-btn:hover {
    background: #FF7733;
    box-shadow: 0 8px 18px rgba(255,140,26,0.45);
    transform: translateY(-2px);
}



.sign-up-container form {
    width: 100%;
    max-width: 600px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* formulario de registro */

.formulario_label {
    display: block;
    font-weight: 700;
    padding-bottom: 5px;
}

.formulario_grupo-input {
    position: relative;
}

.formulario_input {
    width: 100%;
    background: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 10px;
    height: 45px;
    padding: 12px 15px;
    transition: .3s ease;
}

.formulario_input:focus {
    border: 2px solid #FDB318;
    outline: none;
}

/* mensajes de validacion */

.formulario_validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 13px;
    font-size: 14px;
    opacity: 0;
}

.formulario_grupo-correcto .formulario_input {
    border: 2px solid #2ecc71;
}

.formulario_grupo-correcto .formulario_validacion-estado {
    color: #2ecc71;
    opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
    color: red;
}

.formulario_grupo-incorrecto .formulario_input {
    border: 2px solid red;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
    color: red;
    opacity: 1;
}



.formulario_input-error {
    font-size: 12px;
    color: red;
    display: none;
}

.formulario_input-error-activo {
    display: block;
}


#grupo_terminos,
.formulario_mensaje,
.formulario_mensaje-exito,
.formulario_grupo-btn-enviar {
    grid-column: 1 / -1;
}

.formulario h1 {
    grid-column: 1 / -1;
    text-align: center;
}


#grupo_terminos {
    display: flex;
    justify-content: center;
}


.formulario_grupo-btn-enviar {
    display: flex;
    justify-content: center;
}

.formulario_btn {
    height: 42px;
    width: 180px;
    background: #FDB318;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
}

.formulario_btn:hover {
    background: #FF7733;
    box-shadow: 0 8px 18px rgba(255,140,26,0.45);
    transform: translateY(-2px);
}

.formulario_mensaje {
    background: #ff4d4d;
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: white;
}

.formulario_mensaje-activo {
    display: block;
}
.formulario_mensaje-exito {
    background: #2ecc71;     
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: white;
    text-align: center;
}

.formulario_mensaje-exito-activo {
    display: block;
}

/* overlay para que se mueva los frmularios */

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.auth-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(to right, #FDB318, #FF7733);
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transition: transform .6s ease-in-out;
}

.auth-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.overlay-right {
    right: 0;
}

button.ghost {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 40px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

button.ghost:hover {
    background: white;
    color: #FF7733;
}



.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    opacity: 1;
    transition: all .6s ease-in-out;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: all .6s ease-in-out;
}



.auth-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

.auth-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    pointer-events: all;
}


.sign-up-container form h2 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 10px;
}

.formulario_grupo-terminos {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.formulario_grupo-terminos label {
    margin-left: 8px;
}




/* Modales de avisos que estan en el Inicio y registro */
.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.modal-overlay.modal-activo {
    display: flex;
}

.modal-error {
    background: #fff;
    border-radius: 12px;
    padding: 40px 30px;
    text-align: center;
    max-width: 350px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.modal-error i {
    font-size: 50px;
    color: #e74c3c;
    margin-bottom: 15px;
}

.modal-error h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.modal-error p {
    font-size: 15px;
    color: #666;
    margin-bottom: 25px;
}

.modal-error button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.modal-error button:hover {
    background: #c0392b;
}



.modal-btn-login {
    background: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s;
}

.modal-btn-login:hover {
    background: #27ae60;
}

.modal-btn-inicio {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s;
}

.modal-btn-inicio:hover {
    background: #2980b9;
}